@font-face {
    font-family: "Zarathustra";
    src: url("fonts/zarathustra-kerned.ttf");
    font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("fonts/PhantomSans-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("fonts/PhantomSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("fonts/PhantomSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
    font-family: "Phantom Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    --grid-color: #4449;
    background-image: 
        linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center;
    background-color: #0e0e12;
    font-size: 150%;
}


.heheead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0;
    max-width: 70%;
}

.hehheh * {
    padding: 0;
    margin: 4px;
    text-shadow: #000a 1px 1px 5px;
}

.head * {
    padding: 0;
    margin: 4px;
}

.works {
    border-top: #fff9 1px solid;
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 12px;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.faq-item {
    border-top: #fff9 1px solid;
    width: 100%;
    display: flex;
    gap: 24px;
    margin-top: 24px;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-workshop img {
    width: 100%;
}

.sp {
    font-family: "Zarathustra", serif;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.title * { margin: -20px; }

.hhead { font-weight: 700; }

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    justify-content: space-between;
    padding: 12px;
}

.hc {
    transition: transform 0.3s;
}

.hc:hover {
    transform: scale(1.05);
}

header a {
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 4px 8px;
    display: inline-block;
}

a::after {
    content: "";
    position: absolute;
    top: 0; right: 0; 
    width: 0%; height: 100%;
    background-color: #ffffff;
    z-index: 1;
    mix-blend-mode: difference;
    transition: width 0.3s ease; 
    pointer-events: none;
}

a:hover::after {
    left: 0; right: auto; 
    width: 100%;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    gap: 12px;
}

#buttons * {
    padding: 8px 16px;
}

button, .butt {
    color: white;
    background-color: transparent;
    outline: none;
    padding: 8px 16px;
    border: white 2px solid;
    cursor: pointer;
    font-size: inherit;
    position: relative;
    font-family: inherit;
    display: inline-block;
}

button::after, .butt::after {
    content: "";
    position: absolute;
    top: 0; right: 0; 
    width: 0%; height: 100%;
    background-color: #ffffff;
    z-index: 1;
    mix-blend-mode: difference;
    transition: width 0.3s ease; 
    pointer-events: none;
}

button:hover::after, .butt:hover::after {
    left: 0; right: auto; 
    width: 100%;
}

.gallery {
  display: flex;
  gap: 12px;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.gallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.ships {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fastest {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.fastest::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    mix-blend-mode: difference;
    transition: width 0.3s ease; 
    pointer-events: none;
}

.fastest:hover::after {
    left: 0;
    right: auto; 
    width: 100%;
}

header a:hover {
    text-decoration: underline;
}

header span {
    display: flex;
    flex-direction: row;
    gap: 14px
}

section {
    padding-left: 24px;
    padding-right: 24px;
}

.title {
    text-align: center;
    font-size: 7vw;
}

.dim {
    opacity: 80%;
    margin-top: -6px;    
}

@media (width < 640px) {
    .links {
        display: none;
    }
    .title {
        font-size: 180%;
    }
    .head {
        max-width: 100%;
    }
    .gallery img {
        height: 150px;
    }
    .gallery {
        gap: 0px;
        margin-bottom: -12px;
    }
    .ships {
        grid-template-columns: 1fr;
    }
}

::selection {
    background-color: rgb(138, 247, 249);
    color: rgb(8, 15, 8);
}